# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Android
*.apk
*.aar
*.arr
local.properties
server/android-project/app/build/
server/android-project/app/src/main/res/values/strings.xml

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
server/devices.db

# Screenshots (carpeta local)
screenshots/*
